.restaurantMenuMain {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  align-items: center;
  justify-content: center;
}
.resMenuImg {
  width: 100px;
  height: 100px;
  margin: 20px;
}
.menuCard {
  display: flex;
  border-bottom: 1px solid #bebebe;
  margin-bottom: 6px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
