.allRestaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
}
.buttonsDiv {
  display: flex;
  margin-top: 120px;
  flex-direction: row;
}
.sortButton {
  cursor: pointer;
  margin-left: 20px;
  background-color: #e60000;
  border: 1px solid #e60000;
  padding: 9px 16px 9px 16px;
  border-radius: 8px;
}
.sortButtonText {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

.restaurantCardMain {
  display: block;
  width: 20%;
  border-radius: 20px;
  margin: 10px;
  margin-trim: inline;
  padding: 10px;
  cursor: pointer;
}
.restaurantCardMain:hover {
  border: 1px solid red;
}
.restaurantCardMain p {
  margin: 0px;
  padding: 0px;
}
.restaurantImg {
  height: 200px;
  width: 100%;
  border-radius: 20px;
}
.restaurantTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  font-family: sans-serif;
}
.restaurantSubtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: sans-serif;
}
